.chat_input_form {
  display: flex;
  border-top: 2px solid #bb5b5b;
  border-left: 2px solid #da8f8f;
  border-right: 2px solid #c89a9a;
  margin-bottom: 0px;
  border-radius: 20px;
}

.chat_input_input {
  border: none;
  border-radius: 20px;
  padding: 1%;
  padding-left: 5%;
  width: 90%;
  font-size: 1.2em;
}

.chat_input_input:focus, textarea:focus, select:focus{
  outline: none;
}

.chat_input_sendButton {
  color: rgb(132, 69, 69) !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 10%;
}