
  .contest h1 {
    
    font-size: 30px;
    padding: 10px;
  }
  
  
  /* Form button */
  .contest_button[type="submit"] {
    font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
    background: #f5ba13;
    margin: 10px;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
  }
  
  /* Form button hover */
  .contest_button[type="submit"]:hover {
    background-color: #e3a412;
    transition: background-color 0.3s ease-in-out;
  }
  
  
  
  
  .contest_form-button:hover {
    background-color: #e3a412;
    transition: background-color 0.3s ease-in-out;
  }
  /* Select dropdown */
  .contest_select {
    font: normal 14px/100% "Andale Mono", AndaleMono, monospace;
    width: 50%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 1.2em;
    background-color: #f2f2f2;
    color: #374954;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  
  /* Dropdown arrow */
  .contest_select::-ms-expand {
    display: none;
  }
  
  .contest_select::before,
  .contest_select::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-top: 8px solid #374954;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    pointer-events: none;
  }
  
  .contest_select::after {
    border-top-color: #f2f2f2;
    margin-top: 3px;
  }
  
  /* Hover */
  .contest_select:hover {
    background-color: #ddd;
  }
  
  /* Selected option */
  .contest_option[selected] {
    background-color: #f5ba13;
    color: #fff;
  }
  
  
  .contest_table-container {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   
    /* margin: auto; */ 
    max-width: 100%;
    text-align: center;
  }
  
  
  
  .contest_table-container .contest_table {
    border-collapse: collapse;
    margin: 1em auto;
    font-family: Arial, sans-serif;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .contest_table-container .contest_th {
    background-color: #008CBA;
  color: white;
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
  text-transform: uppercase;
  }
  
  .contest_td {
    border: 1px solid #ddd;
  padding: 1em;
  text-align: center;
  font-size: 1.1em;
  }
  
  .contest_table-container tr:hover {
    background-color: #f5f5f5;
  }
  .contest_table td:first-child {
    font-weight: bold;
  }