.footer {
  background-color: #222;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  border: none;
  background-color: whitesmoke;
  color: #fff;
  font-size: 16px;
  padding: 10px;
}

.search-bar button[type="submit"] {
  background-color: #fff;
  border: none;
  color: #222;
  font-size: 16px;
  margin-left: 10px;
  padding: 10px;
}

.codebook-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 50px;
  margin-bottom: 10px;
}

.description {
  text-align: center;
  font-size: 14px;
  margin-left: 90px;
  margin-right: 180px;
}

.button-group {
  display: flex;
  flex-direction: column;
  margin-right: 90px;
}

.button-group a {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

.button-group a:hover {
  text-decoration: underline;
}
