


.cbook_container {
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #4d16ce;
    
}
 
.cbook_dark-mode {
    background-color: hsl(246.46deg 69.55% 22.14%);
    color: #fff;
}

.cbook_title {
    text-align: center;
}

.cbook_card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem 1rem;
}
.cbook_submissions{
    color:black;
}
.cbook_card {
    color: #f4efef;
    background-color: rgb(51 57 100);
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    /* height: 120%; */
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cbook_card:hover {
    transform: scale(1.05);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}

.cbook_card-title {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 1rem;
    text-align: center;
}

.cbook_card-content {
    padding: 1rem;
    font-size: 1.2rem;
    line-height: 1.5;
}

.cbook_card-button {
    display: block;
    margin: auto;
    margin-bottom: 1rem;
    padding: 0.8rem 2.5rem;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #070707;
    background-color: #6c63ff;
    transition: transform 0.2s ease-in-out;
}

.cbook_card-button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.cbook_card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/*





*/


.cbook_image {
    position: relative;
    top: 15px;
}

.cbook_nav {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 1rem;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.cbook_right {
    font-size: larger;
    position: relative;
    color: white;
    left: 47rem;
    padding: 0px 25px;
}

.cbook {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    padding: 10px 10px;

}

.cbook_codebook {
    position: relative;
    top: 10px;
    font: bolder;
}

.cbook_nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: white;
}

.cbook_form {
    /* background: rgb(232, 223, 223); */
    color: white;
    margin: 2.5em 0em;
    padding:10px;
    display: inline;
}
.cbook_blue {
    border-radius: 20px;
    color: white;
    background: #4C8FFB;
    border: 1px #3079ED solid;
    box-shadow: inset 0 1px 0 #80B0FB;
  }
  
  .cbook_blue:hover {
    border-radius: 20px;
    border: 1px #2F5BB7 solid;
    box-shadow: 0 1px 1px #EAEAEA, inset 0 1px 0 #5A94F1;
    background: #3F83F1;
  }
  
  .cbook_blue:active {
    border-radius: 20px;
    box-shadow: inset 0 2px 5px #2370FE;   
  }
  .cbook_input {
    border-radius: 20px;
    /* width: 100%; */
    padding: 10px;
    border: 1px solid #999;
  }