/* .App {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    height: 100vh;
} */

.mi_cbook {
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    padding: 10px 10px;

}

.mi_codebook {
    position: relative;
    top: 10px;
    font: bolder;
}

.mi_image {
    position: relative;
    top: 15px;
}

.mi_nav {
    display: flex;
    align-items: center;
    height: 70px;
    /* margin:1rem 10rem; */
    /* justify-content: space-between; */
    padding: 1rem;
    background-color: #333;
    color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.mi_right {
    position: relative;
    left: 49rem;
    padding: 0px 25px;
}

.mi_nav a {
    margin-right: 1rem;
    text-decoration: none;
    color: white;
}

.mi_header {
    padding: 4rem;
    background-color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 800px;
    margin: 0 auto;
}

.mi_header h1 {
    margin-top: 0;
}

.mi_header p {
    margin-bottom: 2rem;
}

.mi_button-container {
    display: flex;
    justify-content: center;
}

.mi_schedule-button,
.mi_start-button {
    display: block;
    background-color: #333;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    margin: 1rem;
    transition: background-color 0.2s ease-in-out;
}

.mi_schedule-button:hover,
.mi_start-button:hover {
    background-color: #555;
}

.mi_footer {
    padding: 1rem;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}