/* .navbar-nav li{
  display: flex;
  flex-direction: row;
}

.flex-navbar{
  display: flex;
} */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.navbar-fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  z-index: 1030;
}

.logo-text {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.logo-text a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  margin-left: 0.5rem;
}

.logo-text img {
  height: 30px;
  margin-right: 0.5rem;
  border-radius: 75%;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  color: white;
}

.nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

@media only screen and (max-width: 768px) {
  .logo-text {
    font-size: 1rem;
  }

  .logo-text img {
    height: 25px;
  }

  .nav-links {
    display: none;
  }

  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .nav-links.active a {
    margin: 0.5rem 1rem;
  }

  .menu-icon {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
  }

  .menu-icon img {
    height: 20px;
  }
}

.input-group {
  display: flex;
  align-items: center;
  display: block;
  padding: 0px;
  width: fit-content;
}

.input {
  min-height: 37.5px;
  max-width: 150px;
  padding: 0 1rem;
  color: #fff;
  font-size: 15px;
  border: 1px solid #5e4dcd;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 10px;
  padding: 0.5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #5e4dcd;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button--submit:hover {
  background-color: #5e5dcd;
}

.input:focus,
.input:focus-visible {
  border-color: #3898ec;
  outline: none;
}

.left-navbar{
  display: flex;
}