/* .profilePage_html,
.profilePage_body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.profilePage_main {
  background-color: white;
  margin-top: 4.5em;
}
.profilePage_row {
  height: 80em;
  width: 100%;
}

.profilePage_col-md-3 {
  height: 80em;
  border-radius: 1em;
  background-size: cover;
}

.profilePage_ratings {
  background-color: whitesmoke;
  border-radius: 2em;
  padding: 1em;
  height: 30em;
  padding: 1em;
  margin: 1em;
}
.profilePage_card {
  height: 83em;
}
.profilePage_recent-submissions {
  background-color: whitesmoke;
  border-radius: 2em;
  padding: 1em;
  height: 20em;
  padding: 1em;
  margin: 1em;
}
.profilePage_connected-profiles {
  background-color: rgb(255, 238, 52);
  border-radius: 2em;
  padding: 1em;
  height: 20em;
  margin: 1em;
}
.profilePage_mail-pref {
  background-color: rgb(255, 238, 52);
  border-radius: 2em;
  padding: 1em;
  height: 20em;
  margin: 1em;
}
.profilePage_delete-account {
  background-color: red;
  text-align: center;
  height: 6em;
  padding-top: 0.8em;
}
.profilePage_recent-submissions {
  height: 26em;
  padding: 1em;
}
.profilePage_user-name,
.profilePage_rank,
.profilePage_points,
.profilePage_badge,
.profilePage_friends {
  background-color: rgb(255, 238, 52);
  height: 16em;
  border-radius: 2em;
  padding: 1em;
}
.profilePage_rounded-circle {
  height: 20em;
}
.profilePage_badge {
  height: 25em;
  margin: 1em;
}
.profilePage_points {
  margin-left: 1em;
  margin-right: 1em;
} */

.wrapper {
  padding: 1em;
  width: fit-content;
  height: auto;
  display: flex;
  border: 2px solid crimson;
  position: relative;
}
.wrapper .profile {
  width: 400px;
  margin-right: 25px;
}
.wrapper .profile .profile_info {
  display: flex;
  padding: 1em;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 25px;
  justify-content: center;
}
.wrapper .profile .profile_info .img {
  width: 125px;
}

.wrapper .profile .profile_info .img img {
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.wrapper .profile .profile_info .info {
  width: calc(100% - 125px);
}

.wrapper .profile .profile_info .info .name {
  font-size: 24px;
  font-weight: 700;
  color: black;
}
.place,
.name {
  margin: auto;
  color: black;
}
.wrapper .profile .profile_info .place {
  font-weight: 300;
}
.wrapper .profile .profile_skills {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
}

.wrapper .profile .profile_skills .skills {
  padding-bottom: 20px;
  border-bottom: 1px solid #cccccc;
}

.wrapper .profile .profile_skills .skills p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 10px;
}

.wrapper .profile .profile_skills .skills ul li {
  font-size: 30px;
  margin-bottom: 5px;
}

.wrapper .profile .profile_skills .skills ul li .fab {
  width: 40px;
}
.wrapper .profile .profile_skills .tags_wrap {
  padding-top: 20px;
}

.wrapper .profile .profile_skills .tags_wrap span.tag {
  background: #e4e9ef;
  padding: 10px 15px;
  display: inline-block;
  border-radius: 10px;
  margin: 5px;
  font-size: 14px;
}

.wrapper .profile_counts {
  background: #fff;
  border-radius: 10px;
  padding: 25px;
  width: 175px;
}

.wrapper .profile_counts .profile_counts_wrap {
  padding: 30px 0;
  border-bottom: 1px solid #cccccc;
}
.wrapper .profile_counts .profile_counts_wrap:first-child {
  padding-top: 0;
}
.wrapper .profile_counts .profile_counts_wrap:last-child {
  padding-bottom: 0px;
  border-bottom: 0px;
}

.wrapper .profile_counts .profile_counts_wrap .item {
  padding: 20px 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.wrapper .profile_counts .profile_counts_wrap .item:hover {
  background: #e4e9ef;
}

.wrapper .profile_counts .profile_counts_wrap .item .fas {
  font-size: 30px;
  margin-bottom: 20px;
}
.wrapper .profile_counts .profile_counts_wrap .item .title {
  font-size: 14px;
}

.profile_img{
  height:12.5em;
  width: 12.5em;
  border-radius: 25%;
  padding: 1em;
}