.SignInPage {
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 90px 0 90px 0;
}
.main-signup {
  background-image: url(../images/code-bg.jpg);
  background-size: cover;
  background-position: center;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
.sub-signin {
  display: flex;
  justify-content: center;
  height: 690px;
  width: 35%;
  padding-top: 5px;
  border-radius: 35px;
  background-color: rgb(28, 8, 82);
}

.welcome {
  padding-top: 20px;
}

.input {
  border-radius: 20px;
  width: 100%;
  padding: 10px;
  border: 1px solid #999;
}

.imgs {
  display: flex;
  text-align: center;
  justify-content: center;
}

.container-image {
  height: 115px;
  align-items: center;
  width: 115px;
}

.profile-image {
  height: 140px;
  width: 180px;
}

.google-signin-image-btn {
  height: 25px;
  width: 25px;
}
